<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Criptomoneda
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Criptomoneda</ion-title>
    </ion-toolbar>
  </ion-header>

 

  <!-- Botón de cálculo-->
  <ion-item>
    <ion-label floating>Pesos a Bitcoins:</ion-label>
    <ion-input type="number" [(ngModel)]= "numero" value=numero placeholder="Ingrese cantidad"  ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Resultado: <span class="resultado">{{resultado}}</span></ion-label>
  </ion-item>

  <ion-button (click)="formula()">Calcular</ion-button>

  



  <ion-button (click)="runHttp()">Traer Datos</ion-button>
  <ion-list *ngFor="let criptomoneda of criptomonedas">
    <ion-item>
      <h5>Moneda: {{ criptomoneda.payload/book }}</h5> &nbsp; &nbsp; <h5>Valor: {{ criptomoneda.payload/maximum_value }}</h5>
    </ion-item>
  </ion-list>

  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
